.cardContainer {  
  padding: 10px;
  margin: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: black;
  text-align: center;
  border: 5px solid transparent;
  background-clip: padding-box;
  animation: gradient-animation 3s infinite;
  border-image: linear-gradient(45deg, #ff0000, #00ff00, #0000ff) 1;
  border-image-slice: 1;

}

@keyframes gradient-animation {
  0% {
    border-image-source: linear-gradient(45deg, #ff0000, #00ff00, #0000ff);
  }
  25% {
    border-image-source: linear-gradient(135deg, #ff00ff, #00ffff, #ffff00);
  }
  50% {
    border-image-source: linear-gradient(225deg, #00ffff, #ff00ff, #ffff00);
  }
  75% {
    border-image-source: linear-gradient(315deg, #ffff00, #ff00ff, #00ffff);
  }
  100% {
    border-image-source: linear-gradient(45deg, #ff0000, #00ff00, #0000ff);
  }
}

.cardNameLink {
  text-decoration: none;
  color: #ff00ff;
}
.cardNameLink:hover {
  color: #00ff00;
}

/*Estilos para el botón de cierre ("X")*/
.closeButton {
  background-color: #00ff00;
  color: #ff00ff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 50%; 
  position: absolute;
  top: -10px; 
  right: -10px;
  
}

.closeButton:hover {
  border: 2px solid #00ff00;
  background-color: #ff00ff;
  color: #00ff00;
}

/*Estilos para el contenedor de información del personaje*/
.cardInfo {
  margin-top: 0px;

}


.cardInfo h2 {
  margin-bottom: 5px;
}

.cardImage {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

/* Card.module.css */

.favoriteButton {
  background-color: #ff00ff;
  color: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 10px;
}

.favoriteButton:hover {
  background-color: #00ff00;
  color: black;
}

