.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input {
    width: 80%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #00ff00;
    color: white;
    border: none;
    border-radius: 10px;
  
    cursor: pointer;
  
  }
  
  .button:hover {
    background-color: #ff00ff;
  }